[client]
port = 3306
socket = /dynamic/softwares/mysql/data/mysql.sock

[mysqld]
port = 3306
socket = /dynamic/softwares/mysql/data/mysql.sock
basedir = /dynamic/softwares/mysql
datadir  = /dynamic/softwares/mysql/data
